body {
}

.stud_row {
    padding:20px;
}


.stud_td {
    padding:4px !important;
    padding-left:20px !important;
    text-align:left;
    width:25%;
}

.row_heading {
    
      background-color: #2C3e50;
  color: #fff;

}
.heading {
    width:25%;
}

.scrollabe_tr_stud {
    max-height:300px;
    overflow-y:scroll;
    overflow-x:hidden;

}

.table_head {
    margin-bottom:0px !important;
}